body {
    /*
    background: url(images/gradient-black-green.png) repeat-x;
    background-color: #08200e;
    */
    /*
    background-color: #0d3518;
    */
    /*
    background: url(images/gradient-black-darkred.png) repeat-x;
    background-color: #23050d;
    */
    background-color: black;
    width: 920px;
    margin: 20px auto;
    font-family: 'Gill Sans MT', Helvetica, sans-serif;
    color: white;
}

tr.header {
    height: 40px;
}
tr.footer {
    font: 150%/100% 'Gill Sans MT', Helvetica, sans-serif;
    color: white;
}
tr.main {
    height: 500px;
}

td.navigation {
    font: 250%/120% 'Gill Sans MT', Helvetica, sans-serif;
    color: white;
    vertical-align: top;
}

div.title {
    padding: 0px 20px 0px 0px;
    text-align: right;
}
div.content {
    width: 604px;
}
div.navigation {
    padding: 10px 40px 10px 0px;
    text-align: right;
}
div.subnavigation {
    padding: 10px 40px 10px 0px;
    text-align: right;
    font: 60%/100% 'Gill Sans MT', Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
a.current {
    color: yellow;
}
a.inlinelink {
    color: #4287d0;
}
